<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1j_qwmoo78-4eV5_4AmTwavR80HdR7wY</string>
	<key>GCM_SENDER_ID</key>
	<string>199573533447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noDueForm</string>
	<key>PROJECT_ID</key>
	<string>no-due-form</string>
	<key>STORAGE_BUCKET</key>
	<string>no-due-form.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199573533447:ios:18b6373c8a7c6c10730ba2</string>
</dict>
</plist>